body {
  background-color: #fff;
  width: 94%;
  margin: 0 auto;
}

body input[type="number"]::-webkit-outer-spin-button,
body input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body input[type="number"] {
  -moz-appearance: textfield;
}

.header {
  width: 100%;
  height: auto;
}

.header-title {
  font-family: 'Rokkitt', serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: #373745;
}

.header-line {
  position: fix;
  text-align: center;
  width: 100%;
  height: 0px;
  top: 72px;
  border: 1px solid #373745;
}

.content {
  margin: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.content-left-titletop {
  width: 643px;
  margin: 0;
  font-family: 'Neuton',serif;
  font-weight: normal;
  font-size: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #373745;
}

.content-left-titlemiddle {
  width: 643px;
  margin: 0;
  font-family: 'Neuton',serif;
  font-weight: normal;
  font-size: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #373745;
  text-indent: 100px;
}

.content-left-titlebottom {
  width: 643px;
  margin: 0;
  font-family: 'Neuton',serif;
  font-weight: normal;
  font-size: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #373745;
}

.content-left-paragraphtop {
  width: 550px;
  height: 190px;
  margin: 21px 0 0 0;
  font-family: Neuton;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 173% */
  text-indent: 40px;
  color: #373745;
  -webkit-font-feature-settings: "palt" 0.5;
          font-feature-settings: "palt" 0.5;
}

.content-left-paragraphbottom {
  width: 550px;
  height: 114px;
  margin: 36px 0;
  font-family: Neuton;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 173% */
  color: #373745;
  -webkit-font-feature-settings: "palt" 0.5;
          font-feature-settings: "palt" 0.5;
}

.content-right {
  z-index: 1;
}

.content-right-background {
  width: 489px;
  height: 673px;
  position: absolute;
  right: 100px;
  background-image: url(crayon-1473.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  margin: 20px auto 0;
  text-align: center;
  width: 335px;
  height: 110px;
}

.btn-inside {
  padding: 26px 80px 30px;
  font-family: Neuton;
  font-size: 22px;
  line-height: 100px;
  text-align: center;
  /* identical to box height, or 173% */
  color: #373745;
  text-decoration: none;
  border: 1px solid #373745;
  border-radius: 50%;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.btn-inside:hover {
  background-color: #fa8a6b;
}

.blur {
  -webkit-animation-name: blurAnime;
          animation-name: blurAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blurAnime {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes blurAnime {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.blurTrigger {
  opacity: 0;
}

.form {
  width: 500px;
  margin: 60px auto;
  padding: 4% 8%;
  border: 1px solid #373745;
  border-radius: 8px;
}

.form-title {
  font-family: 'Rokkitt', serif;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: left;
  color: #373745;
}

.form input {
  font-size: 20px;
  padding: 0 4px;
}

.form label {
  margin-bottom: 10px;
}

.form legend {
  margin-bottom: 10px;
}

.form textarea {
  font-size: 16px;
  padding: 2px 4px;
}

.form-regular {
  font-weight: 200;
}

.form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  font-family: 'Noto Sans JP',sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #373745;
}

.form-name input[type=text] {
  width: 100%;
  height: 48px;
  background: #F9F9F9;
  border: 1px solid #373745;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.form-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #373745;
}

.form-number input[type=tel] {
  width: 100%;
  height: 48px;
  background: #F9F9F9;
  border: 1px solid #373745;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.form-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 52px;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #373745;
}

.form-mail input[type=email] {
  width: 100%;
  height: 48px;
  background: #F9F9F9;
  border: 1px solid #373745;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.form-selecttop {
  padding: 0;
  margin-top: 52px;
  width: 100%;
  font-family: 'Noto Sans JP',sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #373745;
}

.form-selecttop input[type=radio] {
  width: 24px;
  height: 24px;
  background: #F9F9F9;
  border: 1px solid #373745;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-selecttop label {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-right: 20px;
}

.form-selectbottom {
  padding: 0;
  margin-top: 52px;
  width: 100%;
  font-family: 'Noto Sans JP',sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #373745;
}

.form-selectbottom input[type=radio] {
  width: 24px;
  height: 24px;
  background: #F9F9F9;
  border: 1px solid #373745;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-selectbottom label {
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

.form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin-top: 52px;
  width: 100%;
}

.form-text-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #373745;
}

.form-text-content {
  width: 100%;
  height: 152px;
  background: #F9F9F9;
  border: 1px solid #373745;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.form-submit {
  margin: 82px auto 0;
  text-align: center;
}

.form-submit-btn {
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: 'Neuton',serif;
  font-weight: bold;
  color: #373745;
  text-decoration: none;
  border: 1px solid #373745;
  border-radius: 50%;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  padding: 26px 80px 30px;
}

.form-submit-btn:hover {
  background-color: #fa8a6b;
}

.form-click {
  margin-bottom: 40px;
  margin: 82px auto 0;
  text-align: center;
}

.form-click button {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  font-size: 20px;
  font-family: 'Neuton', serif;
  font-weight: bold;
  color: #373745;
  text-decoration: none;
  border: 1px solid #373745;
  border-radius: 50%;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  padding: 26px 80px 30px;
}

.form-click button:hover {
  background-color: #fa8a6b;
}

.form-back {
  width: 100%;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-back a {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: #373745;
}

.form-back-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-back-link-img {
  width: 24px;
  height: 24px;
  padding: 16px 0;
}

.form-back-link-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #373745;
  text-decoration: none;
}

.form fieldset {
  border: none;
}

#alert1,
#alert2,
#alert3,
#alert4,
#alert5,
#alert6 {
  color: #EC3636;
  margin-top: 10px;
}

.done {
  width: 94%;
  height: auto;
  margin: 0 auto;
}

.done-message {
  padding-top: 200px;
  text-align: center;
  font-family: 'Noto Sans JP',sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: #373745;
}

.done-back {
  width: 100%;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 200px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.done-back a {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  font-family: 'Noto Sans JP',sans-serif;
  font-size: 16px;
  color: #373745;
}

.done-back-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.done-back-link-img {
  width: 24px;
  height: 24px;
  padding: 16px 0;
}

.done-back-link-text {
  font-family: 'Noto Sans JP',sans-serif;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #373745;
  text-decoration: none;
}

@media (max-width: 959px) {
  .content-left-titletop {
    font-size: 56px;
  }
  .content-left-titlemiddle {
    font-size: 56px;
  }
  .content-left-titlebottom {
    font-size: 56px;
  }
  .content-left-paragraphtop {
    font-size: 20px;
  }
  .content-left-paragraphbottom {
    font-size: 20px;
  }
  .content-right {
    z-index: 1;
  }
  .content-right-background {
    opacity: 0.8;
  }
}

@media (max-width: 519px) {
  .header {
    width: 100%;
    height: auto;
  }
  .header-title {
    font-family: 'Rokkitt',serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    color: #373745;
  }
  .header-line {
    text-align: center;
    width: 100%;
    height: 0px;
    top: 72px;
    border: 1px solid #373745;
  }
  .content {
    margin: 70px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
  }
  .content-left-titletop {
    width: 94%;
    margin: 0;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 33px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #373745;
  }
  .content-left-titlemiddle {
    width: 94%;
    margin: 0;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 33px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #373745;
    text-indent: 100px;
  }
  .content-left-titlebottom {
    width: 94%;
    margin: 0;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 33px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #373745;
  }
  .content-left-paragraphtop {
    width: 100%;
    height: auto;
    margin: 21px 0 0 0;
    font-family: Neuton;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 173% */
    text-indent: 40px;
    color: #373745;
  }
  .content-left-paragraphbottom {
    width: 100%;
    height: auto;
    margin: 36px 0;
    font-family: Neuton;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 173% */
    color: #373745;
  }
  .content-right {
    z-index: 1;
  }
  .content-right-background {
    width: 360px;
    height: 400px;
    position: absolute;
    right: 1px;
    background-image: url(crayon-1473.png);
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .btn {
    margin: 20px auto 0;
    text-align: center;
    width: 100%;
    height: 110px;
  }
  .btn-inside {
    padding: 26px 80px 30px;
    font-family: Neuton;
    font-size: 22px;
    line-height: 100px;
    text-align: center;
    /* identical to box height, or 173% */
    color: #373745;
    text-decoration: none;
    border: 1px solid #373745;
    border-radius: 50%;
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  .btn-inside:active {
    background-color: #fa8a6b;
  }
  .form {
    width: 80%;
    margin: 60px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form input {
    font-size: 18px;
    padding: 0 4px;
  }
  .form label {
    margin-bottom: 16px;
  }
  .form legend {
    margin-bottom: 16px;
  }
  .form textarea {
    font-size: 14px;
    padding: 4px 8px;
  }
  .form-regular {
    font-weight: 200;
  }
  .form-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-name {
    width: 164px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    color: #373745;
  }
  .form-name input[type=text] {
    width: 100%;
    height: 34px;
    background: #F9F9F9;
    border: 1px solid #373745;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
  }
  .form-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 164px;
    margin-top: 48px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    color: #373745;
  }
  .form-number input[type=tel] {
    width: 100%;
    height: 34px;
    background: #F9F9F9;
    border: 1px solid #373745;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
  }
  .form-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 48px;
    width: 164px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    color: #373745;
  }
  .form-mail input[type=email] {
    width: 100%;
    height: 34px;
    background: #F9F9F9;
    border: 1px solid #373745;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
  }
  .form-selecttop {
    padding: 0;
    margin-top: 48px;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    color: #373745;
  }
  .form-selecttop input[type=radio] {
    width: 20px;
    height: 20px;
    background: #F9F9F9;
    border: 1px solid #373745;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .form-selecttop label {
    height: 24px;
    font-size: 12px;
    font-weight: 400;
  }
  .form-selectbottom {
    padding: 0;
    margin-top: 48px;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    color: #373745;
  }
  .form-selectbottom input[type=radio] {
    width: 20px;
    height: 20px;
    background: #F9F9F9;
    border: 1px solid #373745;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .form-selectbottom label {
    font-size: 12px;
    font-weight: 400;
  }
  .form-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 48px;
    width: 100%;
  }
  .form-text-title {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #373745;
  }
  .form-text-content {
    width: 100%;
    height: 80px;
    background: #F9F9F9;
    border: 1px solid #373745;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
  }
  .form-submit {
    width: 100%;
    margin-top: 52px;
    text-align: center;
  }
  .form-submit-btn:active {
    background-color: #fa8a6b;
  }
  .form-click button:active {
    background-color: #fa8a6b;
  }
}
/*# sourceMappingURL=style.css.map */